header{
    background-color: #333;
    color: #fff;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.myLogo{
    margin-right:30px;
    font-size: 24px;
    font-weight: bold;
}
.navigation ul{
    list-style: none;
    padding: 0;
    display: flex;
}
.navigation ul li{
    margin-right:50%;
}
.navigation ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navigation ul li a:hover{
    color:#3498db
}