.navbar{
  margin: -50px -18px 50px -18px; 
}
.navbar-nav {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  height: 100%;
  
}

.nav-link {
  margin-right: 40px; 
  color: #000; 
  text-decoration: none; 
  transition: all 0.3s ease; 
}

.nav-link:hover {
  color: #3498db; 
}
.navbar-brand{
    font-size: xx-large;
    padding-right: 10px;
}
.d-flex{
margin-right: 40px;

}
