body {
  margin: 0;
  padding: 0;
}
.app {
  margin-left: 20px;
  margin-right:20px;
  position: relative;
  min-height: 50vh;
  padding-top: 50px; /* Adjust the padding-top to move the content below the header */
}
/* styles.css (or your preferred stylesheet) */
.homepage {
  display: flex;
  justify-content: space-between; /* Positions the sections at the ends of the container */
  align-items: center; /* Vertically centers content */
  padding: 0px 40px 40px 40px; /* Add spacing around the content */
}

.welcome-section {
  flex: 1; /* Takes up the available space */
  text-align: center;
  padding: 20px;
}

.illustration-section {
  flex: 1; /* Takes up the available space */
  text-align: center;
}

.cta-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

/* Adjust button styles and layout as needed */

/* Media query for responsiveness */
@media (max-width: 768px) {
  .homepage {
    flex-direction: column; /* Stacks sections vertically on smaller screens */
    text-align: center;
  }

  .welcome-section {
    order: 2; /* Reorder sections for smaller screens */
  }

  .illustration-section {
    order: 1; /* Reorder sections for smaller screens */
  }
}
.illustration-section {
  flex: 1;
  text-align: center;
  border-radius: 50%; /* Rounds the corners of the illustration */
  overflow: hidden; /* Ensures the box shadow is applied to the rounded corners */
  transition: box-shadow 0.3s ease-in-out; /* Add transition effect for smooth hover animation */
}
/* styles.css (or your preferred stylesheet) */

.tasklist {
  margin-top: 20px;
}

.tasklist h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tasklist ul {
  list-style: none;
  padding: 0;
}

.tasklist li {
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tasklist li:last-child {
  margin-bottom: 0;
}

.task-details {
  flex: 1;
}

.task-actions {
  margin-left: 20px;
}

.delete-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #ff4839;
}
/* ProjectList.module.css */
.pageHeader {
  font-size: 24px;
  margin-bottom: 10px;
}

.projectList {
  list-style-type: none;
  padding: 0;
}

.projectItem {
  margin-bottom: 2em;
}

.projectName {
  font-size: 1.5em;
  color: #333;
}

.projectDescription {
  font-size: 1.2em;
  color: #666;
}

.collaborators {
  font-size: 1em;
  color: #999;
}



